body {  
        margin: 0;
      background-image: url('eye2.jpg');
        background-repeat: no-repeat;
  background-attachment: fixed;
    background-position: 0% 0%;
  background-size: 100% 100%;
      justify-content: center;

  color: white;
}
a {
  color: white; 
}

h1 {
  font-family: Helvetica, Times;
  font-size: 50px;
  font-sty
  le: italic;
  }

